*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family: 'Open Sans', sans-serif;
}
html{
	scroll-behavior: smooth;
}
.navbar .container a {
	color:#000;
	font-weight: 800;
}
.navbar .container button{
	border:1px solid black;
	color:black;
}
.navbar .container #sidebar ul li a{
	color:#000;
	font-weight:600;
}
section{
	width:100vw;
	height:100vh;
}
.home{
	display:flex;
	justify-content: center;
	align-items:center;
	width:100vw;
	height:100vh;
	background-image:url("../images/head.jpg");
	background-size:100%, 100%;
	clip-path: ellipse(90% 80% at 50% 20%);
	opacity: 0.5;
	padding:10vh;
}
.content{
	width:50%;
	height:50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card{
	width:20vw;
	height:40vh;
	border:2px solid rgb();
}
.overlay{
	  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.4);
}
.card:hover .overlay{
	opacity: 1;
}
.bb{
	width:100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.owl-carousel{
	width:80%;
	margin:20px;
}

.f{
  width:100%;
  height:auto;
  
  background-image:url("../images/bkk.jpg");
  overflow:hidden;
  background-size: 100% 100%;
  box-shadow: 0 10px 20px -6px #000;
}

    .f form{
      width:100%;
      float: right;

    }
        .f input{
      width:80%;
      height: auto;
      margin:auto;
    }
   
    .f label{
      display: block;
      width:80%;
      color:#000;
      font-size:20px;
      line-height: 37px;
      font-weight: bold;
      
      height: auto;
      margin:auto;
    }
    .f form input{
      background:none;
      border:0px;
      border-bottom:2px solid  black;
  
    }
    .f form #textarea
{
  border:0px;
  border-bottom:3px solid black;
  display: block;
  width:80%;
  margin:auto;
  background:none;
  
}